%h1 #{@game.name}

%table
  %tr
    %th number
    %th First ball
    %th Second ball
  - @game.frames.each do |frame|
    %tr
      %td #{frame.number}
      %td #{frame.first_ball}
      %td #{frame.second_ball}

%h2 Total Score: #{@score}

= link_to 'Back', games_path
